/* prettier-ignore */
:root {
  --shadow-default:
    0 0 0 1px theme(colors.greyA.3),
    0 2px 3px -2px theme(colors.greyA.3),
    0 3px 8px -1px theme(colors.blackA.2),
    0 4px 12px -5px theme(colors.blackA.2);

  --shadow-1:
    inset 0 0 0 1px theme(colors.greyA.5),
    inset 0 1.5px 2px 0 theme(colors.greyA.2),
    inset 0 1.5px 2px 0 theme(colors.blackA.2);

  --shadow-2:
    0 0 0 1px theme(colors.greyA.2),
    0 0 0 0.5px theme(colors.blackA.1),
    0 1px 1px 0 theme(colors.greyA.2),
    0 2px 1px -1px theme(colors.blackA.1),
    0 1px 3px 0 theme(colors.blackA.1);

  --shadow-3:
    0 0 0 1px theme(colors.greyA.3),
    0 2px 3px -2px theme(colors.greyA.3),
    0 3px 12px -4px theme(colors.blackA.2),
    0 4px 16px -8px theme(colors.blackA.2);

  --shadow-4:
    0 0 0 1px theme(colors.greyA.3),
    0 8px 40px theme(colors.blackA.1),
    0 12px 32px -16px theme(colors.greyA.3);

  --shadow-5:
    0 0 0 1px theme(colors.greyA.3),
    0 12px 60px theme(colors.blackA.3),
    0 12px 32px -16px theme(colors.greyA.5);

  --shadow-6:
    0 0 0 1px theme(colors.greyA.3),
    0 12px 60px theme(colors.blackA.3),
    0 16px 64px theme(colors.greyA.2),
    0 16px 36px -20px theme(colors.greyA.7);
}

/* prettier-ignore */
@supports (color: color-mix(in oklab, white, black)) {
  :root {
    --shadow-default:
      0 0 0 1px theme(colors.greyA.3),
      0 2px 3px -2px theme(colors.greyA.3),
      0 3px 8px -1px theme(colors.blackA.2),
      0 4px 12px -5px theme(colors.blackA.2);

    --shadow-1:
      inset 0 0 0 1px theme(colors.greyA.5),
      inset 0 1.5px 2px 0 theme(colors.greyA.2),
      inset 0 1.5px 2px 0 theme(colors.blackA.2);

    --shadow-2:
      0 0 0 1px color-mix(in oklab, theme(colors.greyA.2), theme(colors.grey.3) 25%),
      0 0 0 0.5px theme(colors.blackA.1),
      0 1px 1px 0 theme(colors.greyA.2),
      0 2px 1px -1px theme(colors.blackA.1),
      0 1px 3px 0 theme(colors.blackA.1);

    --shadow-3:
      0 0 0 1px color-mix(in oklab, theme(colors.greyA.3), theme(colors.grey.3) 25%),
      0 2px 3px -2px theme(colors.greyA.3),
      0 3px 12px -4px theme(colors.blackA.2),
      0 4px 16px -8px theme(colors.blackA.2);

    --shadow-4:
      0 0 0 1px color-mix(in oklab, theme(colors.greyA.3), theme(colors.grey.3) 25%),
      0 8px 40px theme(colors.blackA.1),
      0 12px 32px -16px theme(colors.greyA.3);

    --shadow-5:
      0 0 0 1px color-mix(in oklab, theme(colors.greyA.3), theme(colors.grey.3) 25%),
      0 12px 60px theme(colors.blackA.3),
      0 12px 32px -16px theme(colors.greyA.5);

    --shadow-6:
      0 0 0 1px color-mix(in oklab, theme(colors.greyA.3), theme(colors.grey.3) 25%),
      0 12px 60px theme(colors.blackA.3),
      0 16px 64px theme(colors.greyA.2),
      0 16px 36px -20px theme(colors.greyA.7);
  }
}

/* prettier-ignore */
:is(.dark, .dark-theme,[data-theme~="dark"]) {
  --shadow-1:
    inset 0 -1px 1px 0 theme(colors.greyA.3),
    inset 0 0 0 1px theme(colors.greyA.3),
    inset 0 3px 4px 0 theme(colors.blackA.5),
    inset 0 0 0 1px theme(colors.greyA.4);

  --shadow-2:
    0 0 0 1px theme(colors.greyA.6),
    0 0 0 0.5px theme(colors.blackA.3),
    0 1px 1px 0 theme(colors.blackA.6),
    0 2px 1px -1px theme(colors.blackA.6),
    0 1px 3px 0 theme(colors.blackA.5);

  --shadow-3:
    0 0 0 1px theme(colors.greyA.6),
    0 2px 3px -2px theme(colors.blackA.3),
    0 3px 8px -2px theme(colors.blackA.6),
    0 4px 12px -4px theme(colors.blackA.7);

  --shadow-4:
    0 0 0 1px theme(colors.greyA.6),
    0 8px 40px theme(colors.blackA.3),
    0 12px 32px -16px theme(colors.blackA.5);

  --shadow-5:
    0 0 0 1px theme(colors.greyA.6),
    0 12px 60px theme(colors.blackA.5),
    0 12px 32px -16px theme(colors.blackA.7);

  --shadow-6:
    0 0 0 1px theme(colors.greyA.6),
    0 12px 60px theme(colors.blackA.4),
    0 16px 64px theme(colors.blackA.6),
    0 16px 36px -20px theme(colors.blackA.11);
}

/* prettier-ignore */
@supports (color: color-mix(in oklab, white, black)) {
  :is(.dark, .dark-theme,[data-theme~="dark"]) {
    --shadow-1:
      inset 0 -1px 1px 0 theme(colors.greyA.3),
      inset 0 0 0 1px theme(colors.greyA.3),
      inset 0 3px 4px 0 theme(colors.blackA.5),
      inset 0 0 0 1px theme(colors.greyA.4);

    --shadow-2:
      0 0 0 1px color-mix(in oklab, theme(colors.greyA.6), theme(colors.grey.6) 25%),
      0 0 0 0.5px theme(colors.blackA.3),
      0 1px 1px 0 theme(colors.blackA.6),
      0 2px 1px -1px theme(colors.blackA.6),
      0 1px 3px 0 theme(colors.blackA.5);

    --shadow-3:
      0 0 0 1px color-mix(in oklab, theme(colors.greyA.6), theme(colors.grey.6) 25%),
      0 2px 3px -2px theme(colors.blackA.3),
      0 3px 8px -2px theme(colors.blackA.6),
      0 4px 12px -4px theme(colors.blackA.7);

    --shadow-4:
      0 0 0 1px color-mix(in oklab, theme(colors.greyA.6), theme(colors.grey.6) 25%),
      0 8px 40px theme(colors.blackA.3),
      0 12px 32px -16px theme(colors.blackA.5);

    --shadow-5:
      0 0 0 1px color-mix(in oklab, theme(colors.greyA.6), theme(colors.grey.6) 25%),
      0 12px 60px theme(colors.blackA.5),
      0 12px 32px -16px theme(colors.blackA.7);

    --shadow-6:
      0 0 0 1px color-mix(in oklab, theme(colors.greyA.6), theme(colors.grey.6) 25%),
      0 12px 60px theme(colors.blackA.4),
      0 16px 64px theme(colors.blackA.6),
      0 16px 36px -20px theme(colors.blackA.11);
  }
}

:root {
  /* FIXME: there is no override for the default shadow (i.e. shadow) */
  /*--shadow: theme(--shadow-default);*/
  --shadow-inner: var(--shadow-1);
  --shadow-sm: var(--shadow-2);
  --shadow-md: var(--shadow-3);
  --shadow-lg: var(--shadow-4);
  --shadow-xl: var(--shadow-5);
  --shadow-2xl: var(--shadow-6);
}
